body {
    font: 20px Lucida Console, monospace;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

h1 {font-size: 9px;}
.margin {margin-bottom: 20px;}
.padding-top: 20px

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: yellowgreen;
}

a:link {
  color: yellowgreen;
}

a:visited {
  color: yellowgreen;
}

img[alt=ghostboy] { width: 320px; }

img[alt=sublimetext] { width: 320px; }

img[alt=headshot] { width: 320px; }

img[alt=spinfish] { width: 320px; }

img[alt=emilyd] { width: 320px; }

img[alt=snakewoman] { width: 320px; }

img[alt=hooray] { width: 340px; }

img[alt=letterpress1] { width: 330px; }

img[alt=FRANK] { width: 330px; }

img[alt=thehiveclose] { width: 320px; }

img[alt=hive1] { width: 350px; }

img[alt=hive2] { width: 350px; }

img[alt=hive3] { width: 350px; }

img[alt=hive4] { width: 350px; }

img[alt=hive5] { width: 350px; }

img[alt=hive6] { width: 350px; }

img[alt=vector] { width: 300px; }

img[alt=bee1] { width: 360px; }

img[alt=bee3] { width: 350px; }

img[alt=beeconnector1] { width: 350px; }

img[alt=beeconnector2] { width: 350px; }

img[alt=honeyhive1] { width: 350px; }

img[alt=honeyhive2] { width: 350px; }

img[alt=honeyhive3] { width: 350px; }

img[alt=honeyhive4] { width: 350px; }

img[alt=acrylic1] { width: 350px; }

img[alt=acrylic2] { width: 360px; }

img[alt=box1ss] { width: 360px; }

img[alt=fish] { width: 360px; }

img[alt=wavesss] { width: 360px; }

img[alt=fishss] { width: 360px; }

img[alt=boxcamss] { width: 360px; }

img[alt=boxcam1] { width: 360px; }

img[alt=boxcam2] { width: 360px; }

img[alt=boxcam3] { width: 360px; }

img[alt=assembly1] { width: 360px; }

img[alt=motorconnect] { width: 360px; }

img[alt=ks] { width: 500px; }

img[alt=cover] { width: 320px; }

img[alt=mainpress1] { width: 500px; }

img[alt=mainpress2] { width: 500px; }

img[alt=secure1] { width: 500px; }

img[alt=secure12] { width: 500px; }

img[alt=secure2] { width: 500px; }

img[alt=coverpressbed] { width: 350px; }

img[alt=nostamp] { width: 350px; }

img[alt=stamp] { width: 350px; }

img[alt=tape] { width: 400px; }

img[alt=sblink] { width: 350px; }

img[alt=siblink] { width: 350px; }

img[alt=nodelay] { width: 350px; }

img[alt=long] { width: 500px; }

img[alt=short] { width: 500px; }

img[alt=help] { width: 500px; }

img[alt=top] { width: 400px; }

img[alt=cometfinal] { width: 320px; }

img[alt=screen1] { width: 320px; }

img[alt=screen2] { width: 320px; }

img[alt=screen3] { width: 320px; }

img[alt=many] { width: 320px; }

img[alt=bb1] { width: 400px; }

img[alt=bb2] { width: 400px; }

img[alt=code] { width: 500px; }

img[alt=fullmvp] { width: 350px; }

img[alt=fu] { width: 360px; }

img[alt=pru] { width: 360px; }

img[alt=bed] { width: 320px; }

img[alt=heat] { width: 430px; }

img[alt=mold] { width: 320px; }

img[alt=sil] { width: 500px; }

img[alt=mol] { width: 300px; }

span {
  font-weight: bolder;