body {
    font: 20px Lucida Console, monospace;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

h1 {font-size: 9px;}
.margin {margin-bottom: 20px;}
.padding-top: 20px

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: red;
}

a:link {
  color: red;
}

a:visited {
  color: red;
}

img[alt=ghostboy] { width: 320px; }

img[alt=sublimetext] { width: 320px; }

img[alt=headshot] { width: 320px; }

img[alt=spinfish] { width: 320px; }

img[alt=emilyd] { width: 320px; }

img[alt=snakewoman] { width: 320px; }

img[alt=hooray] { width: 340px; }

img[alt=letterpress1] { width: 330px; }

img[alt=FRANK] { width: 330px; }

img[alt=thehiveclose] { width: 320px; }

span {
  font-weight: bolder;