body {
    font: 20px Lucida Console, monospace;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

h1 {font-size: 9px;}
.margin {margin-bottom: 20px;}
.padding-top: 20px

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: yellowgreen;
}

a:link {
  color: yellowgreen;
}

a:visited {
  color: yellowgreen;
}

img[alt=ghostboy] { width: 320px; }

img[alt=sublimetext] { width: 320px; }

img[alt=headshot] { width: 320px; }

img[alt=spinfish] { width: 320px; }

img[alt=emilyd] { width: 320px; }

img[alt=snakewoman] { width: 320px; }

img[alt=hooray] { width: 340px; }

img[alt=letterpress1] { width: 330px; }

img[alt=FRANK] { width: 330px; }

img[alt=thehiveclose] { width: 320px; }

img[alt=hive1] { width: 350px; }

img[alt=hive2] { width: 350px; }

img[alt=hive3] { width: 350px; }

img[alt=hive4] { width: 350px; }

img[alt=hive5] { width: 350px; }

img[alt=hive6] { width: 350px; }

img[alt=vector] { width: 300px; }

img[alt=bee1] { width: 360px; }

img[alt=bee3] { width: 350px; }

img[alt=beeconnector1] { width: 350px; }

img[alt=beeconnector2] { width: 350px; }

img[alt=honeyhive1] { width: 350px; }

img[alt=honeyhive2] { width: 350px; }

img[alt=honeyhive3] { width: 350px; }

img[alt=honeyhive4] { width: 350px; }

img[alt=acrylic1] { width: 350px; }

img[alt=acrylic2] { width: 360px; }

img[alt=box1ss] { width: 360px; }

img[alt=fish] { width: 360px; }

img[alt=wavesss] { width: 360px; }

img[alt=fishss] { width: 360px; }

img[alt=boxcamss] { width: 360px; }

img[alt=boxcam1] { width: 360px; }

img[alt=boxcam2] { width: 360px; }

img[alt=boxcam3] { width: 360px; }

img[alt=assembly1] { width: 360px; }

img[alt=motorconnect] { width: 360px; }

img[alt=ks] { width: 500px; }

img[alt=cover] { width: 320px; }

span {
  font-weight: bolder;